html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

.header-line {
    background-color: #282828;
}

.header-button {
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 160px;
    
}

.home {
    color: #C7A17A;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 46px;
    margin-right: 35px;
}

.about {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 51px;
    margin-right: 35px;
}

.menu {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 44px;
    margin-right: 35px;
}

.reservation {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 101px;
    margin-right: 35px;
}

.coffi-images {
    padding-bottom: 10px;
    width: 75px;
    margin-left: 730px;
    margin-right: 931px;
}

.ikon-img {
    padding-left: 1200px;
    position: absolute;
    top: 30px;
}

.header-title {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.header-text {
    font-family: 'Jost', sans-serif;
    padding-top: 199px;
    margin-left: 160px;
    margin-bottom: 35px;
    color: #fff;
    font-size: 60px;
    width: 900px;
}

.text-infu {
    font-family: 'Jost', sans-serif;
    color: #DFDFDF;
    font-size: 18px;
    font-weight: 400;
    width: 535px;
    margin-left: 160px;
    line-height: 26px;
    margin-bottom: 50px;
}

.button {
    font-family: 'Jost', sans-serif;
    color: #fff;
    background-color: #C7A17A;
    text-decoration: none;
    padding: 17px 60px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    width: 80px;
    line-height: 27px;
    margin-left: 160px;
}

.gost-button {
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: -26px;
    margin-top: 20px;
    border: 2px solid #666681;
    background-color: transparent;
    padding: 17px 60px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    width: 80px;
    line-height: 27px;
    margin-left: 395px;
}

.main-menu {
    background-color: #020204;
}

.text-title {
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    width: 190px;
    margin-left: 800px;
    padding-top: 130px;
    padding-bottom: 30px;
}

.text-i {
    font-family: 'Jost', sans-serif;
    color: #fff;
    padding: 5px 15px;
    background-color: #14141D;
    font-size: 18px;
    font-weight: 400;
    width: 498px;
    margin-left: 800px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.main-coffi {
    margin-left: 201px;
    margin-top: -270px;
    width: 600px;
    height: 302px;
    padding-bottom: 30px;
}

.news-title {
    margin-top: 80px;
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 200px;
    width: 900;
    margin-left: 201px;
}

.news-t {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    background-color: #14141D;
    width: 335px;
    height: 51px;
    padding: 1px 26px;
}

.text-in {
    font-family: 'Jost', sans-serif;
    background-color: #14141D;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    width: 335px;
    height: 151px;
    line-height: 24px;
    padding-bottom: 70px;
}

.coffi-first {
    position: relative;
    top: 85px;
    width: 335px;
    height: 200px;
    margin-top: 70px;
    margin-left: 200px;
}

.news-te {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    background-color: #14141D;
    margin-left: -2px;
    width: 335px;
    height: 51px;
    padding: 1px 26px;
}

.text-inf {
    font-family: 'Jost', sans-serif;
    background-color: #14141D;
    margin-left: -2px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    width: 335px;
    height: 151px;
    line-height: 24px;
    padding-bottom: 70px;
}

.news-card {
    padding-bottom: 90px;
}

.coffi-second {
    position: relative;
    top: 97px;
    width: 335px;
    height: 200px;
    margin-top: -30px;
    margin-left: -1px;
}

.news-tex {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    background-color: #14141D;
    margin-left: -203px;
    width: 335px;
    height: 51px;
    padding: 1px 26px;
}

.text-info {
    font-family: 'Jost', sans-serif;
    background-color: #14141D;
    margin-left: -203px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    width: 335px;
    height: 151px;
    line-height: 24px;
    padding-bottom: 70px;
}

.coffi-therd {
    position: relative;
    top: 118px;
    width: 335px;
    height: 200px;
    margin-top: -55px;
    margin-left: -196px;
}

.news-text {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    background-color: #14141D;
    margin-top: 100px ;
    margin-left: -397px;
    width: 335px;
    height: 51px;
    padding: 1px 26px;
}

.text-infos {
    font-family: 'Jost', sans-serif;
    background-color: #14141D;
    margin-left: -397px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    width: 335px;
    height: 151px;
    line-height: 24px;
    padding-bottom: 70px;
}

.catalog-text {
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    width: 200px;
    margin-left: 201px;
    padding-bottom: 40px;
}

.latte-img {
    margin-left: 260px;
    padding-bottom: 42px;
}

.latte-text {
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    width: 220px;
    margin-left: 201px;
    padding-bottom: 30px;
}

.catalog-price {
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 54px;
    margin-left: 201px;
    padding-bottom: 30px;
}

.product-image {
    background-color: #14141D;
    border-radius: 10px;
    width: 43%;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-left: 30px;
}

.americano-image {
    margin-top: -416px;
    background-color: #14141D;
    border-radius: 10px;
    width: 43%;
    padding-bottom: 30px;
    margin-left: 800px;
}

.americano-img {
    margin-left: 260px;
    padding-bottom: 42px;
    padding-top: 20px;
}

.americano-text {
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    width: 220px;
    margin-left: 201px;
    padding-bottom: 30px;
}

.americano-pr {
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 54px;
    margin-left: 201px;
    padding-bottom: 30px;
}

